#container
  #logo wikibox 
  #topbar 
    .textMargin(style="float:left;")
      a(href="", target="_blank") about
      a(href="", target="_blank", style="margin-left:10px") tour
    #loginButton.highlightGrad
      .textMargin 
        |  login
        
  #loginOverlay(title="Login") 
    p
      form#loginForm(action="", method="post")
        |  email: 
        input(type="text", name="email")
        br
        |  password: 
        input(type="text", name="password")
        br
        input(id="loginSubmitButton", type="submit", value="login")
  
  #page
    #toolbar
      #edit.toolbarButton.button.white Edit
      #addPhoto.toolbarButton.button.white Add Pic
      #addTextBox.toolbarButton.button.white Add Text
