#container container
  #topbar 
    .textMargin(style="float:left;")
      a(href="", target="_blank") about
      a(href="", target="_blank", style="margin-left:10px") tour
    #loginButton
      .textMargin 
        |  login
  #loginOverlay
  #page page
