!!! 5

html
  head
    title= title
    link(rel='stylesheet', href='http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/boxStyle.css')
    
    link(rel='stylesheet', href='/js/jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/jquery-ui/js/jquery-ui-1.8.16.custom.min.js');

    script(type='text/javascript', src='http://yui.yahooapis.com/3.4.0/build/yui/yui-min.js');
    script(type='text/javascript', src='/js/modules/box/sensor.js');
    script(type='text/javascript', src='/js/modules/box/box.js');
    script(type='text/javascript', src='/js/modules/box/picBox.js');
    script(type='text/javascript', src='/js/modules/box/audioBox.js');
    script(type='text/javascript', src='/js/modules/box/videoBox.js');
    script(type='text/javascript', src='/js/main.js')
    
  body
    #main
      #header
        - if (session.user)
          #user= 'logged in as ' + session.user.login
          #logout
            a(href='/sessions/destroy') logout
      - if (flash.warn)
        p#warn= flash.warn
      #container!= body
