
h1 Login
form(action='/sessions', method='POST')
    input(type='hidden', name='redir', value=redir)
    p
        label(for='username') Username 
        input(type='text', name='username', id='username')
    p
        label(for='password') Password 
        input(type='password', name='password', id='password')
    p
        input(type='submit')
h1 Create new user
form(action='/register', method='POST')
    input(type='hidden', name='redir', value=redir)
    p
        label(for='username') Username
        input(type='text', name='username', id='username')
    p
        label(for='password') Password 
        input(type='password', name='password', id='password')
    p
        label(for='confirm_password') Confirm Password 
        input(type='password', name='confirm_password', id='confirm_password')
    p
        input(type='submit')
